body {
  padding-top: 70px;
}
#home-section {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#signin-section,
#signup-section {
  margin-top: 90px;
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
#pt-item-section {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#pt-notes .pt-note-block {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  width: 200px;
}
