<% layout('layouts/default') -%>
<div id="home-section">
  <h1>Welcome to Party Time!</h1>
  <div class="pt-btn-groups">
    <a class="btn btn-large btn-warning" href="/signup">SIGN UP</a>
    <a class="btn btn-large btn-success" href="/signin">SIGN IN</a>
  </div>
</div>